.form {
  width: 100%;

  .input {
    label {
      font-weight: 400;
      color: var(--black);
      font-size: 14px;
    }

    input,
    :global(.ant-input-affix-wrapper) {
      width: 100%;
      height: 3rem;
      padding: 0 1rem;
      border-radius: 0.5rem !important;
      background-color: var(--white);
      transition: border-color 0.2s;

      &:autofill {
        box-shadow: 0 0 0px 1000px var(--white) inset !important;
      }

      &:focus,
      &:focus-within {
        outline: none;
        border-color: var(--primary-color);
      }

      &::placeholder {
        color: var(--light-gray);
      }

      input {
        padding: 0;
        height: auto;

        &:autofill {
          box-shadow: 0 0 0px 1000px var(--white) inset !important;
        }
      }
    }
  }

  .loginButton {
    --ant-color-primary-hover: var(--secondary-color);
    --ant-color-primary-active: var(--secondary-color);

    width: 100%;
    height: 48px;
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    border-radius: 0.5rem;
    font-size: 16px;
    font-weight: 600;
    margin-top: 1rem;
    cursor: pointer;
    transition: background 0.3s;
  }

  .signUpLink {
    margin-top: 1rem;
    text-align: center;
    font-size: 14px;
    color: var(--light-gray);

    p {
      text-decoration: none;
      font-weight: 400;
      margin-left: 4px;
      transition: all ease-in 0.2s;

      &:hover {
        color: var(--primary-color);
        text-decoration: underline;
      }
    }
  }
}
