.modal {
  max-width: 35rem;
  width: 100% !important;

  .formInputs {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr;
  }

  .footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
  }
}
