.tag {
  --tag-font-size: 0;

  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: var(--tag-font-size);
  font-weight: 700;
}

.success {
  background: var(--success-opaque);
  color: var(--success-color);
}

.warning {
  background: var(--warning-opaque);
  color: var(--warning-color);
}

.error {
  background: var(--error-opaque);
  color: var(--error-color);
}

.info {
  background: var(--info-opaque);
  color: var(--info-color);
}
