.cardsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 1rem;

  grid-template-areas:
    'card1 card2 card3 card4'
    'card5 card6 queue queue'
    'attendance attendance queue queue'
    'attendance attendance queue queue'
    'attendance attendance queue queue';

  & > *:nth-child(1) {
    grid-area: card1;
  }

  & > *:nth-child(2) {
    grid-area: card2;
  }

  & > *:nth-child(3) {
    grid-area: card3;
  }

  & > *:nth-child(4) {
    grid-area: card4;
  }

  & > *:nth-child(5) {
    grid-area: card5;
  }

  & > *:nth-child(6) {
    grid-area: card6;
  }
  .queue {
    grid-area: queue;
    background: white;
    border-radius: 0.5rem;
    padding: 1rem;
    min-height: 20rem;
  }
  .queueHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  .queueHeader h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
  }
  .queueHeader span {
    font-size: 17px;
    color: #9ca3af;
  }
  .queueInfo {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 13px;
    color: #777;
  }
  .queueItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
    border-bottom: 1px solid #eee;
  }
  .queueItem:last-child {
    border-bottom: none;
  }
  .left {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
    font-size: 18px;
  }
  .avatarAlto {
    background-color: #ef4444;
  }
  .avatarMedio {
    background-color: #f59e0b;
  }
  .avatarBaixo {
    background-color: #22c55e;
  }
  .info {
    display: flex;
    flex-direction: column;
  }
  .nome {
    font-weight: 600;
    font-size: 16px;
  }
  .status {
    font-size: 16px;
    color: #777;
  }
  .risco {
    padding: 4px 10px;
    border-radius: 999px;
    font-size: 16px;
    font-weight: 500;
  }
  .alto {
    background: #fee2e2;
    color: #dc2626;
  }
  .medio {
    background: #fef3c7;
    color: #d97706;
  }
  .baixo {
    background: #dcfce7;
    color: #16a34a;
  }
}
