@use '../../../../styles/abstract/breakpoints' as *;

.title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 1rem !important;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 1rem;

  @include max-lg {
    grid-template-columns: 1fr;
  }
}
