.symptomTag {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-2);
  color: var(--gray);
  border: 1px solid var(--border);
  font-size: 12px;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;

  &:hover {
    animation: hoverEffect 1s infinite;
    background-color: var(--gray-3);
  }

  &.selected {
    background-color: var(--primary-color);
    color: var(--white);
    border-color: var(--primary-color);

    &:hover {
      background-color: var(--primary-color);
    }
  }
}

@keyframes hoverEffect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
