.userTable {
  border-radius: 1rem;
  border: 1px solid var(--border);

  :global {
    .ant-table-thead > tr > th {
      background-color: var(--primary-color);
      color: var(--white);
      font-weight: 600;
      font-size: 14px;
      padding: 1rem;
      height: 100;
    }

    .ant-table-tbody {
      & > tr {
        & > td {
          padding: 1rem;
          font-size: 14px;
          color: var(--black);
          border-bottom: 1px solid var(--white);

          &:nth-child(2) {
            color: var(--primary-color);
            text-decoration: underline;
            font-weight: 500;
          }

          &:first-child {
            color: var(--gray);
          }
        }

        &:nth-child(odd) > td {
          background-color: var(--white);
        }

        &:nth-child(even) > td {
          background-color: var(--background);
        }

        &:hover > td {
          background-color: var(--primary-color);
        }
      }
    }
  }
}
