.nav {
  background-color: var(--white);
  border-right: 1px solid var(--border);
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  width: 20rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;

  .icon {
    font-size: 2rem;
    color: var(--primary-color);
  }
}

.menuList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.link,
.activeLink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  font-size: 1.08rem;
  min-height: 3rem;
  padding: 0.5rem 1rem;
  border-radius: 6px;
}

.link {
  color: var(--black);
  transition:
    background 0.15s,
    color 0.15s;
}

.link:hover {
  background: var(--primary-opaque);
  color: var(--primary-color);
}

.activeLink {
  color: var(--primary-color);
  background: var(--primary-opaque);
  font-weight: bold;
}
