@use '../../styles/abstract/breakpoints' as *;

.page {
  display: grid;
  grid-template-columns: 1fr 20rem;
  grid-template-rows: auto 1fr;
  gap: 2rem;
  margin-top: 2rem;

  @include max-md {
    grid-template-columns: 1fr;
  }
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 1rem;

    @include max-lg {
      grid-template-columns: repeat(2, 1fr);
    }

    @include max-md {
      grid-template-columns: 1fr;
    }
  }
}

.title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 1rem !important;
}

.symptoms {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.textarea {
  width: 100%;
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  font-size: 14px;
  font-family: inherit;
  color: var(--text);
  resize: vertical;
  outline: none;
  background: var(--white);
  box-sizing: border-box;
  min-height: 100px;

  &:focus {
    border-color: var(--primary-color);
  }

  &:disabled {
    background: var(--background);
    cursor: not-allowed;
  }
}

.sidebar {
  background: var(--primary-opaque);
  border: 1px solid var(--border);
  border-radius: 1rem;
  padding: 1rem;
  overflow-y: auto;
}
