@use '../../styles/abstract/breakpoints' as *;

.code {
  font-size: 72px !important;
  font-weight: 700;
  color: var(--primary-color) !important;

  @include max-md {
    font-size: 2.5rem !important;
  }
}

.actions {
  margin-top: 8px;
}
