.container {
  width: 100%;
  padding: 2rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 1.5rem;
  padding: 1.5rem 0;
}

.card {
  display: flex;
  flex-direction: column;
  background: var(--white);
  border-radius: 0.5rem;
  padding: 2rem;
  gap: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.04);
  transition: transform 0.15s ease;

  &:hover {
    transform: translateY(-2px);
  }

  h3 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
  }

  div {
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid var(--border);
  }

  span {
    &:first-child {
      font-weight: 600;
      padding-bottom: 0.25rem;
    }

    &:last-child {
      color: var(--gray);
    }
  }
}

.history {
  ul {
    list-style: none;
    padding: 0;
  }

  li {
    display: flex;
    justify-content: space-between;

    padding: 0.5rem 0;

    border-bottom: 1px solid var(--border);
  }
}

.date {
  font-weight: 600;
}

.description {
  color: var(--gray);
}
