.container {
  width: 100%;
  padding: 2rem;
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--border);
}

.doctorInfo {
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 24px;
    color: var(--black);
  }

  p {
    font-size: 1rem;
    color: var(--gray);
  }
}

.separator {
  margin: 0 0.5rem;
}

.status {
  margin-left: auto;

  span {
    background: var(--primary-opaque);
    color: var(--primary-color);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 14px;
    font-weight: 500;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 1.5rem;
  padding: 1.5rem 0;
}

.card {
  display: flex;
  flex-direction: column;
  background: var(--white);
  border-radius: 0.5rem;
  padding: 1rem;
  gap: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.04);
  transition: transform 0.15s ease;

  &:hover {
    transform: translateY(-2px);
  }

  h3 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
  }

  div {
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid var(--border);

    &:last-child {
      border-bottom: none;
    }
  }

  span {
    &:first-child {
      font-weight: 600;
      padding-bottom: 0.25rem;
    }

    &:last-child {
      color: var(--gray);
    }
  }
}

.history {
  ul {
    list-style: none;
    padding: 0;
  }

  li {
    display: flex;
    justify-content: space-between;

    padding: 0.5rem 0;

    border-bottom: 1px solid var(--border);

    &:last-child {
      border-bottom: none;
    }
  }
}

.date {
  font-weight: 600;
}

.description {
  color: var(--gray);
}
