main {
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fafaf8;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #eee;
}
.cards > section {
  width: calc(50% - 10px);
}
header {
  margin-bottom: 25px;
}
header h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

header > div {
  display: flex;
  align-items: center;
  gap: 15px;
}
header > div > div:first-child {
  width: 60px;
  height: 60px;
  background-color: #e8553d;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25%;
  border: 1px solid #e5e7eb;
  font-weight: bold;
  font-size: 24px;
}

header > div > div:nth-child(2) {
  margin-left: 10px;
}

header > div > div:nth-child(3) {
  margin-left: auto;
}
.status span {
  background-color: #fef5e7;
  color: #f3a326;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
}

section {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
}
section h3 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #e8553d;
  display: flex;
  align-items: center;
  gap: 8px;
}

section div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

section div span:first-child {
  font-weight: 600;
}

section div span:last-child {
  font-weight: 500;
  color: #555;
}

section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

section ul li {
  display: flex;
  justify-content: space-between;
  padding: 14px 0;
  border-bottom: 1px solid #eee;
}
section ul li:last-child {
  border-bottom: none;
}
section ul li span:first-child {
  font-weight: 600;
}

section ul li span:last-child {
  color: #555;
}
.historicoDeAtendimentos {
  margin-top: 20px;
}
.doctor-info {
  font-size: 14px;
  margin-top: 4px;
}

.idade {
  color: #555;
}

.genero {
  color: #555;
}

.separador {
  margin: 0 6px;
  color: #555;
}
