@use '../../styles/abstract/breakpoints' as *;

.tableContent {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
}

.tableWrapper {
  flex: 1;
}

.listTable {
  border-radius: 1rem;
  border: 1px solid var(--border);
  max-width: 100%;

  :global {
    .ant-table-wrapper {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }

    .ant-table-content {
      scrollbar-color: var(--secondary-color) transparent;

      &::-webkit-scrollbar {
        width: 0.5rem;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background: var(--secondary-color);
        border-radius: 0.5rem;
        transition: background 0.2s ease;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: var(--primary-color);
        cursor: pointer;
      }
    }

    .ant-table-thead > tr > th {
      background-color: var(--primary-color);
      color: var(--white);
      font-weight: 600;
      font-size: 14px;
      padding: 1rem;
      white-space: nowrap;

      @include max-md {
        padding: 0.625rem 0.5rem;
        font-size: 12px;
      }

      &:hover {
        background: var(--primary-opaque);
        color: var(--primary-color);
      }
    }

    .ant-table-column-has-sorters {
      background: var(--primary-color);
      color: var(--white);

      &:hover {
        background: var(--primary-opaque);
        color: var(--primary-color);

        .ant-table-column-sorter {
          color: var(--primary-color);
        }
      }
    }

    th.ant-table-column-sort {
      color: var(--primary-color) !important;
    }

    .ant-table-column-sorter {
      color: var(--white);

      .active {
        color: var(--sucess-color);
      }
    }

    .ant-table-tbody {
      & > tr {
        & > td {
          padding: 1rem;
          font-size: 14px;
          color: var(--black);
          border-bottom: 1px solid var(--white);

          @include max-md {
            padding: 0.625rem 0.5rem;
            font-size: 12px;
          }

          &:nth-child(2) {
            color: var(--primary-color);
            text-decoration: underline;
            font-weight: 500;
          }

          &:first-child {
            color: var(--gray);
          }
        }

        &:nth-child(odd) > td {
          background-color: var(--white);
        }

        &:nth-child(even) > td {
          background-color: var(--background);
        }

        &:hover > td {
          background-color: var(--primary-color);
        }
      }
    }
  }
}
