.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 0.5rem;
  width: 100%;
}

.textContainer {
  display: flex;
  flex-direction: column;

  .titleContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .backButton {
      background: none;
      border: none;
      padding: 0;
      transition: 150ms ease;
      cursor: pointer;

      &:hover {
        color: var(--primary-color);
      }
    }

    .title {
      font-size: 24px;
      font-weight: 600;
      padding-bottom: 0.25rem;
    }
  }

  .unauthTitle {
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 0.25rem;
  }

  .description {
    font-size: 16px;
    color: var(--gray);
  }

  .unauthDescription {
    font-size: 16px;
    color: var(--light-gray);
  }
}
