.button {
  --ant-color-primary-hover: var(--secondary-color);
  --ant-color-primary-active: var(--secondary-color);

  height: 2.5rem;
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  padding: 0;
  background: transparent;
  border-radius: 0.5rem;
  color: var(--white);
  background-color: var(--primary-color);
  transition: all 0.2s ease;

  svg {
    font-size: 1rem;
  }

  &:hover {
    background-color: var(--primary-opaque);
    color: var(--primary-color);
    transform: scale(0);
  }

  &:active {
    transform: scale(0.95);
  }

  &:focus-visible {
    outline: 2px solid var(--primary-color);
    outline-offset: 2px;
  }
}
