$bp-sm: 36rem; // 576px
$bp-md: 48rem; // 768px
$bp-lg: 62rem; // 992px
$bp-xl: 75rem; // 1200px

@mixin max-sm {
  @media (max-width: #{$bp-sm - 0.0625rem}) {
    @content;
  }
}

@mixin max-md {
  @media (max-width: #{$bp-md - 0.0625rem}) {
    @content;
  }
}

@mixin max-lg {
  @media (max-width: #{$bp-lg - 0.0625rem}) {
    @content;
  }
}

@mixin min-md {
  @media (min-width: #{$bp-md}) {
    @content;
  }
}
