:root {
  --primary-color: #e8573f;
  --secondary-color: #f4a261;
  --primary-opaque: #fdf2f0;

  --sucess-color: #2ece9a;
  --sucess-opaque: #eafaf1;
  --warning-color: #f3a326;
  --warning-opaque: #fef5e7;
  --error-color: #e94c3c;
  --error-opaque: #fdedeb;
  --info-color: #3cace9;
  --info-opaque: #ebf8fd;

  --background: #fafaf8;
  --border: #e5e7eb;

  --gray: #555;
  --black: #2d3142;
  --white: #fff;
}
