:root {
  --primary-color: #e8573f;
  --secondary-color: #f3b8ad;
  --primary-opaque: #fdf2f0;

  --sucess-color: #2ECE9A;
  --sucess-opaque: #EAFAF1;
  --warning-color: #F3A326;
  --warning-opaque: #FEF5E7;
  --error-color: #E94C3C;
  --error-opaque: #FDEDEB;
  --info-color: #3CACE9;
  --info-opaque: #EBF8FD;

  --background: #fafaf8;
  --border: #e5e7eb;

  --gray: #555;
  --black: #2d3142;
  --white: #fff;
}
