@use './styles/abstract/variables.scss' as *;
@use './styles/abstract/fonts.scss' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: 'Figtree', sans-serif;
}
