.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--border);
  padding-bottom: 0.5rem;
  margin: 1rem 0;
}

.label {
  font-weight: bold;
}

.value {
  color: var(--gray);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 12rem;
}
