.content {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: var(--background);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
  width: 40%;
  padding: 3rem;
  position: relative;

  .logo {
    position: absolute;
    top: 3rem;
    left: 3rem;
  }

  .formContent {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
  }
}

.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100vh;
  background: linear-gradient(
    145deg,
    var(--primary-color) 0%,
    var(--secondary-color) 100%
  );
  text-align: center;
  color: var(--white);
  overflow: hidden;

  .imageItem {
    max-height: 30rem;
    transition:
      opacity 0.3s ease,
      transform 0.4s ease;
    opacity: 1;
  }

  .fade {
    opacity: 0;
    transform: translateX(-50%) translateY(10px);
  }

  .typewriter {
    font-size: 26px;
    font-weight: 500;
    max-width: 25rem;
    height: 3rem;
    margin: 0 auto;
    margin-top: 2rem;
  }
}
