@use '../../styles/abstract/breakpoints' as *;

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 22rem), 1fr));
  gap: 1.5rem;
  padding: 1.5rem 0;

  @include max-sm {
    gap: 1rem;
    padding: 1rem 0;
  }
}
