@use '../../styles/abstract/breakpoints' as *;

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  gap: 1.5rem;
  padding: 1.5rem 0;
  grid-template-areas:
    'initialDataCard initialDataCard'
    'lastAttendanceCard attendanceHistoryCard';

  @include max-md {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'initialDataCard'
      'lastAttendanceCard'
      'attendanceHistoryCard';
    gap: 1rem;
    padding: 1rem 0;
  }
}

.initialDataCard {
  grid-area: initialDataCard;
}

.lastAttendanceCard {
  grid-area: lastAttendanceCard;
}

.attendanceHistoryCard {
  grid-area: attendanceHistoryCard;
}
